.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
    background-color: #212121ff;
    border-radius: 15px;
}

.markdown-body img {
    max-width: 100%;
    height: auto;
}

.markdown-body table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 1em 0;
}

.markdown-body td, .markdown-body th {
    padding: 6px 13px;
    border: 1px solid #30363d;
}

.markdown-body pre {
    background-color: #161b22 !important;
    border-radius: 6px;
    padding: 16px;
    overflow: auto;
}

.markdown-body code {
    background-color: rgba(110,118,129,0.4);
    border-radius: 6px;
    padding: 0.2em 0.4em;
}

.markdown-body pre code {
    background-color: transparent;
    padding: 0;
}